
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="~/Home/AgregarUsuario">Agregar Usuario</a>
    <table>
        <thead>
            <tr>
               
                <th>Nombre del usuario</th>
                <th>Password</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>edavila</td>
                <td>234</td>
                <td><a href="#">Ver</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
