@model Citizen4a.Models.Users
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModificarUsuario</title>
</head>
<body>
    @{
        if (ViewBag.MensajeError != null)
        {
            <label>@ViewBag.MensajeError</label>
        }

    }

    <form method="post" action="@Url.Action("ModificarUsuario","Home", new { idusuario = Model.IdUsers })">
        <Table>
            <tbody>

                <tr>
                    <td>Nombre Usuario</td>
                    <td><input type="text" name="user" value="@Model.LoginUsers"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="pass" value="@Model.PassUsers"/></td>
                </tr>
            </tbody>
        </Table>
        <input type="submit" />
    </form>

</body>
</html>
